[alias]
	st = status
	br = branch
  sw = switch
  swc = switch -c
	ada = add -A
  ad = add
	cm = commit
	cma = commit -am
  pl = pull
  st = stash
  
[core]
	excludesfile = /Users/takashimatsuyuki/.gitignore_global
[user]
	email = itn.siknh.bonvoyage@gmail.com
	name = applepine1125
