[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/.tmux/tmux-powerline"]
	path = tmux/.tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "tmux/.tmux/tmux-continuum"]
	path = tmux/.tmux/tmux-continuum
	url = git://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/.tmux/tmux-copycat"]
	path = tmux/.tmux/tmux-copycat
	url = git://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/tmux-resurrect"]
	path = tmux/.tmux/tmux-resurrect
	url = git://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/tmux-yank"]
	path = tmux/.tmux/tmux-yank
	url = git://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/tmux-mem-cpu-load"]
	path = tmux/.tmux/tmux-mem-cpu-load
	url = git://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
